<h1> Dog Parks </h1>
<h3 class="hollow button"><%= link_to "Add a New Park", new_park_path %> </h3>

    <h3 class="hollow button"><%= link_to "Add a New Park", new_park_path %> </h3>

    <ul class="wrapper">
      <% @parks.each do |park|%>
      <a href="/parks/<%= park.id %>">
      <li>
        <div class="callout parktile">
        <div class="callout-header"><%= park.name %></div>
      <%= park.address %>
      <%= park.city %>
      <%= park.state %>
      </li></a>
      <% end %>
    </ul>
