<center>
<div class="user-box">
<h1 class="field">New Park Form</h1>
<div class="field">
  <%= form_for(@park) do |f| %>

    <b><%= f.label :name%></b>
    <%= f.text_field :name%>

    <b><%= f.label :address, "Street Address"%></b>
    <%= f.text_field :address%>

    <b><%= f.label :city%></b>
    <%= f.text_field :city%>

    <b><%= f.label :state%></b>
    <%= f.text_field :state%>

    <b><%= f.label :zip%></b>
    <%= f.text_field :zip%>

    <b><%= f.label :description%></b>
    <%= f.text_field :description%>

    <%= f.file_field :park_photo %>
    <%= f.submit "Add Dog Park" %><br><br>

    <%= link_to "Back to Homepage", parks_path %>
  <% end %>
</div>
</center>
</div>
