<div class="field">
<%= form_for([@park, @review]) do |f| %>

  <b><%= f.label :rating%></b>
  <%= f.text_field :rating%>

  <b><%= f.label :body, "Review"%></b>
  <%= f.text_field :body%>

  <%= f.submit "Edit Review" %>

<% end %>

<%= button_to "Delete", park_review_path, method: :delete, data: {confirm: 'Are you sure?'} %><br><br>

<%= link_to "Back to #{@park.name}", park_path(@park) %>
</div>
