<center>
<div class="user-box">
<h1 class="field"> Add Review Form </h1>
<div class="field">
<%= form_for([@park, @review]) do |f| %>

  <b><%= f.label :rating%></b>
  <%= f.text_field :rating%>

  <b><%= f.label :body, "Review"%></b>
  <%= f.text_field :body%>


  <%= f.submit "Add Review" %>

<% end %>

<%= button_to "Back to #{@park.name}", park_path(@park), :method => :get  %>
</div>
</center>
</div>
