<!DOCTYPE html>
<html>

<head>
  <title>DogParkProject</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>


  <%= csrf_meta_tags %>
</head>
<<<<<<< HEAD
<body>
=======
<body class="body">
>>>>>>> master
<div class="contain-to-grid full-top-bar">
  <div class="top-bar">
    <div class="top-bar-left">
    <div class="logo">
        <%= link_to image_tag("/logo/doglogo.png"), "/" %>
    </div>
<<<<<<< HEAD
=======
    
>>>>>>> master
    </div>
    <section class="top-bar-section logo">
      <div class="right">

        <%- if current_user -%>
          <div class="top-bar-right"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></div>
        <%- else -%>
<<<<<<< HEAD
      <%= link_to 'Sign Up', new_user_registration_path %> /
       <%= link_to 'Sign In', new_user_session_path %>
=======
      <%= link_to 'Sign Up', new_user_registration_path %> / <%= link_to 'Sign In', new_user_session_path %>
>>>>>>> master

        <%- end -%>
      </div>
    </section>
    </div>
</div>
  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
